/* DESKTOP NAV */
.navContainer {
  height: 66px;
  width: 100%;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

.logo span {
  color: #40a9ff;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 387px;
}

.active {
  color: #40a9ff;
}

/* ---------------------- */
/* MOBILE NAV (Bottom)    */
/* ---------------------- */

.mobileNav {
  display: none;
}

/* ===== MOBILE STYLES ===== */

@media (max-width: 700px) {
  /* Keep logo visible */
  .navContainer {
    justify-content: start;
    height: 60px;
    padding: 0 20px;
    backdrop-filter: unset;
    border: none;
  }

  /* Hide only the actions/menu links */
  .actions {
    display: none;
  }

  .logo {
    font-size: 20px;
    font-weight: 500;
  }

  /* Show bottom nav */
  .mobileNav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.25);

    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 9999;
  }

  .mobileNav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    gap: 3px;
    color: white;
  }

  .mobileNav a svg {
    font-size: 22px;
  }

  .mobileNav a.active {
    color: #40a9ff;
  }
}
