.pageWrapper {
  padding: 30px;
  color: white;
}

.heading {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* CARD */
.orderCard {
  background: rgba(255, 255, 255, 0.04);
  padding: 16px 20px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
}

/* TOP ROW */
.orderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderType {
  font-size: 18px;
  font-weight: 600;
}

.orderSub {
  font-size: 13px;
  opacity: 0.8;
}

/* STATUS BADGES */
.statusBadge {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
}

.pending {
  background: rgba(234, 179, 8, 0.2);
  color: #eab308;
}

.awaiting_confirmation {
  background: rgba(59, 130, 246, 0.2);
  color: #60a5fa;
}

.completed {
  background: rgba(16, 185, 129, 0.2);
  color: #4ade80;
}

.cancelled {
  background: rgba(239, 68, 68, 0.2);
  color: #f87171;
  
}


/* EXPAND BUTTON */
.expandBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* EXPANDED BOX */
.detailsBox {
  margin-top: 16px;
  padding: 16px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ROWS */
.detailRow {
  display: flex;
  justify-content: space-between;
}

.detailLabel {
  font-size: 14px;
  font-weight: 600;
  color: #d1d5db;
}

.detailValue {
  color: white;
}

.detailValueGray {
  color: #9ca3af;
}

/* BLOCK */
.detailBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.paymentCard {
  background: rgba(255, 255, 255, 0.08);
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
}

/* WALLET */
.valueBox {
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* BUTTONS */
.actionRow {
  display: flex;
  gap: 14px;
}

.approveBtn {
  background: rgba(16, 185, 129, 0.25);
  border: 1px solid rgba(16, 185, 129, 0.5);
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rejectBtn {
  background: rgba(239, 68, 68, 0.25);
  border: 1px solid rgba(239, 68, 68, 0.5);
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* MODAL */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}
