@import "tailwindcss";

body {
  background-color: #111;
  color: white;
  font-family: "Outfit", sans-serif;
}
.appWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
}
